}

.utensilios {
    width: 120px;
    width: calc(40% - 26px);
    float: left;
    margin: 0 20px 20px 0;
}
@@ -250,4 +250,29 @@ td, th {
.video {
    width: 560px;
    margin: 2em auto;
}
}


/* SELETORES AVANÇADOS PARA SEREM USADOS

main p {
    background: red;
}

main > p {
    background: red; 
}

img + p { 
    background: blue;
}

img ~ p {
    background: yellow
} 

.principal p:not(#missao) {
    background: orange;
}
Add commentMore actions
*/