}

.produtos li:active {
    border-color: #088C19;    
    border-color: #088C19;
}

.produtos h2 {
@@ -87,8 +87,9 @@ form {
    margin: 40px 0;
}

form label, form legend {
    display:block;
form label,
form legend {
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}
@@ -121,4 +122,22 @@ footer {
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0 0;
}

.enviar {
    width: 40%;
    padding: 15px 0;
    background: orange;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover {
    background: darkorange;Add commentMore actions
    transform: scale(1.2);
}